
/* .mediaViewInfo {
    --web-view-name: top;
    --web-view-id: top;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
} */
/* :root {
    --web-view-ids: top;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.nav-bar {
    width: -webkit-fill-available;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    /* background-image: url('../img/bg.png'); */
    padding: 1rem 2rem;
}

.top, .about, .genres, .mission, .footer {
    background-image: url('../img/bg.png');
    background-size: auto; 
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    flex-direction: column; 
    padding: 5rem 0rem 5rem 0rem;
}
.top {
    height: 100vh;
    background-image: url('../img/bg.png');
    background-size: auto; 
    background-position: center;
}
.top-bg-filter {
  position: absolute;
  inset: 0;
  backdrop-filter: brightness(60%);
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 0;
}
.bg-filter {
  position: absolute;
  inset: 0;
  backdrop-filter: brightness(60%);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.genres {
    position: relative;
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.genre-images {
    display: flex;
}
.genre-texts {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.genre-text {
    position: absolute;
    width: 34%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 118px;
    left: 0;
    overflow: visible;
    z-index: 1;
    cursor: pointer;
}
.about-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    z-index: 1;
}
#top {
    background-size: auto;  
    background-position: center;
    position: absolute;
    width: 100%;
    display: flex;
    background-color: rgba(39, 22, 11, 1);
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* @keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
} */

#top-logo {
    position: relative;
    width: 60%;
    max-width: 376px;
    overflow: visible;
}
#top-logo-img {
    width: 100%;
}
#logo {
    position: absolute;
    width: 362.994px;
    height: 70.547px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#top-text {
    overflow: visible;
    width: 70%;
    /* height: 70px; */
    line-height: 2;
    margin-top: 50px;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(7px, 1.5vw, 50px);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}
#nav-logo {
    width: 30%;
    max-width: 197px;
    height: 100%;
    position: absolute;
    display: flex;
    left: 5%;
    overflow: visible;
    top: 30%;
}
#logo-mini {
    position: absolute;
    width: 100%;
    /* width: clamp(10px, 50%, 15px);; */
    left: 0px;
    top: 0px;
    overflow: visible;
}

#menu {
    padding: 6%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 9999;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#menu.open {
  transform: translateX(0); /* ← 表示状態 */
}
#menu-logo {
    left: 97px;
    top: 86px;
    overflow: visible;
}
#menu-logo-img {
    width: 30%;
    max-width: 197px;
    position: absolute;
    display: flex;
    left: 5%;
    overflow: visible;
}
.menu-list-item {
    border: 0;
    overflow: visible;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}

#close-icon {
    position:absolute; 
    top: 2rem;
    right: 2rem;
    cursor:pointer;
    width: 35px;
    height: 35px;
    overflow: visible;
}
#close-icon-path {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.close-icon-svg {
    width:30px; 
    height:30px;
    overflow: visible;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    position:absolute;
}
.menu-list {
    margin-top: 8rem;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.menu-list-col {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.nav-menu {
  cursor: pointer;
  padding: 1rem;
}

.menu-icon {
    display: inline-block;
    width: 35px;
    height: 16px;
    right: 20px;
    position: absolute;
}
#nav-menu {
    position: absolute;
    display: flex;
    width: 117px;
    height: 71px;
    right: 0px;
    /* top: 53px; */
    overflow: visible;
    cursor: pointer;
    --web-animation: slide-left 0.30000001192092896s ease-out forwards;
    --web-action-type: page;
    --web-action-target: menu.html;
}
#nav-menu-line {
    position: absolute;
    width: 44px;
    height: 11px;
    /* left: 36.5px;
    top: 33.5px; */
    overflow: visible;
}
#nav-menu-lines {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.nav-menu-bottomline {
    overflow: visible;
    position: absolute;
    width: 44px;
    height: 2px;
    transform: matrix(1,0,0,1,0,0);
}

.nav-menu-line {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 2px;
    left: 0px;
    top: 11px;
    transform: matrix(1,0,0,1,0,0);
}
#nav-menu-line {
    fill: transparent;
}
/* about */
.about-graphics-items {
    margin: 81px 10px;
    position: absolute;
    display: flex;
    top: 5rem;
    width: 50%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.about-graphics-items-row, .about-graphics-items-row2 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.about-graphics-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: Heisei Mincho Std;
    font-size: clamp(10px, 5vw, 70px);
    color: rgba(255,255,255,1);
}
#about-circle {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.about-circle {
    overflow: visible;
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
}
#about-graphics-text {
    padding: 15px 0px;
    width: 70%;
    line-height: 2;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: clamp(8px, 1vw, 15px);
    color: rgba(255,255,255,1);
}
#about-graphics-link {
    cursor: pointer;
    font-family: Hiragino Kaku Gothic ProN;
    font-weight: normal;
    font-size: clamp(9px, 1.5vw, 20px);
    color: rgba(255, 255, 255, 1);
}
.about-graphics-en {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: clamp(10px, 1vw, 35px);
    color: rgba(255,255,255,1);
}
.x-icon,   .x-icon2 {
    color: white;
    width: clamp(10px, 6vw, 20px);
    margin: 10% 0 2% 0;
}
.x-icon2 {
    display: none;
}

.about-images {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}
#about-ju { 
    width: 35%;
    margin-top: -90px;
    z-index: 1;
}
#about-shoku { 
    right: 0px;
    width: 40%;
    margin-top: -215px;
    margin-left: 60%;
 }
#about-i {
    width: 35%;
    margin-top: -150px;
    margin-left: 25%;
}
#about-all { 
    margin-top: 10px;
    width: clamp(700px, 50vw, 1200px);
    margin-left: clamp(100px, 50vw, 750px);
}
/* genre */
.genre-img {
    width: 34%;
    left: 0px;
    top: 0px;
    overflow: visible;
    z-index: 1;
}
.genre-text-en {
    top: 56px;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: clamp(10px, 5vw, 15px);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}
.genre-text-jp {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-size: clamp(10px, 6vw, 70px);
    color: rgba(255,255,255,1);
    z-index: 1;
}
#genre-shoku {
    left: 33%;
}
#genre-ju {
    position: absolute;
    left: 68%;
}
/* mission */
#mission-text {
    width: 80%;
    line-height: 2;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: clamp(8px, 1.5vw, 20px);
    color: rgba(255, 255, 255, 1);
    margin: 20px;
    z-index: 1;
}
#mission-link {
    width: 100%;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: clamp(8px, 1.5vw, 20px);
    padding: 10px 0px;
    color: rgba(255,255,255,1);
    cursor: pointer;
}
#studio {
    width: 80%;
    z-index: 1;
}
#mission-title {
    font-family: Heisei Mincho Std;
    font-size: clamp(12px, 4vw, 55px);
    color: rgba(255,255,255,1);
    z-index: 1;
}
#menu-insta-favicon, #footer-insta-favicon {
    display: none;
}

/* footer */
.footer {
    background-image: none;
    background-color: rgb(28, 12, 12);
}

.footer-top {
    position: relative;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
    cursor: pointer;
}
#footer-logo {
    width: clamp(100px, 100%, 300px);
}

.footer-other {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    line-height: 35.5px;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 15px;
    color: rgba(255,255,255,1);
}

.footer-other-c2 {
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 33%;
}
#copyright {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
/* for SP */
@media (max-width: 797px) {
  .about-circle {
    display: none;
  }
  .x-icon2 {
    display: flex;
  }
  .about-graphics-items-row2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
  }
    .x-icon, .x-icon2 {
        color: white;
        width: clamp(10px, 6vw, 15px);
        margin: 10% 0 8% 0;
    }
    #about-graphics-text {
        width: 150%;
    }
    .genres {
        display: flow;
    }
    .genre-images, .genre-texts {
        align-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .genre-texts {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        display: flex;
        position: absolute;
        top: 0px;
        width: -webkit-fill-available;
    }
    .genre-img {
        width: 100%;
        height: 180px;
        left: 0px;
        object-fit: cover;
        z-index: 1;
        overflow: hidden;
    }
    #genre-i-img, #genre-ju-img {
        object-position: center 85%;
    }
   .genre-text {
        position: relative; 
        height: 180px;
        top: 5rem;
        display: flex;
        align-content: center;
        cursor: pointer;
    }
    #genre-shoku {
        left: 0px;
    }
    #genre-ju {
        position: relative;
        left: 0px;
    }
    .mission {
        padding-top: 0px;
    }
    #studio {
        width: 100%;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-logo {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        width: 100%;
        display: contents;
        align-items: center;
    }
    .footer-other {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        line-height: 35.5px;
    }
    .footer-other-c1, .footer-other-c2, .footer-other-c3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    #footer-logo {
        padding-bottom: 18px;
        width: 50%;
    }
    .footer-other-item  {
        font-size: 11px;
        width: 34%;
        text-align: center;
    }
    #menu-insta, #footer-insta  {
        display: none; 
    }
    #menu-insta-favicon, #footer-insta-favicon {
        display: flex;
        font-weight: 800;
        color: white;
        padding: 10px;
    }
    #footer-top, #footer-about, #footer-phil {
        width: 34%;
    }
    #footer-genre {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: auto;
    }
    .footer-other-c3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .about-graphics-items {
        position: relative;
    }
    #about-ju {
        width: 50%;
        z-index: 1;
        margin-top: 0;
    }
    #about-shoku {
        right: 0px;
        width: 40%;
        margin-top: -115px;
        margin-left: 60%;
    }
    #about-i {
        width: 35%;
        margin-top: -50px;
        margin-left: 15%;
    }
    #about-all {
        margin-top: 40px;
        width: clamp(300px, 50vw, 1200px);
        margin-left: clamp(100px, 20vw, 277px);
    }
    .menu-list {
        flex-direction: column;
        padding-left: 10px;
    }
    #menu-top, #menu-about, #menu-phil, #menu-i, #menu-shoku, #menu-ju, #menu-contact, #menu-insta {
        font-size: 15px;
        line-height: 3;
    }
}