
.mediaViewInfo {
    --web-view-name: top;
    --web-view-id: top;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: top;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.nav-bar {
    width: -webkit-fill-available;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    padding: 1rem 2rem;
}

.top, .about, .genres, .mission, .footer {
    background-image: url('../img/bg.png');
    background-size: auto;     /* 画面全体にフィットさせる */
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    flex-direction: column; /* ← ロゴとテキストを縦に並べる */
    padding: 5rem 0rem 5rem 0rem;
}
.top {
    height: 100vh;
    background-image: url('../img/bg.png');
    background-size: auto;     /* 画面全体にフィットさせる */
    background-position: center;
}
.top-bg-filter {
  position: absolute;
  inset: 0;
  backdrop-filter: brightness(60%);
  background-color: rgba(0, 0, 0, 0.1); /* 必要に応じて濃さ追加 */
  z-index: 0;
}
.bg-filter {
  position: absolute;
  inset: 0;
  backdrop-filter: brightness(60%);
  background-color: rgba(0, 0, 0, 0.1); /* 必要に応じて濃さ追加 */
  z-index: 0;
}
.genres {
    position: relative;
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.genre-images {
    display: flex;
}
.genre-texts {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    z-index: 1;
}

#top {
    background-size: auto;     /* 画面全体にフィットさせる */
    background-position: center;
    position: absolute;
    width: 100%;
    display: flex;
    background-color: rgba(39, 22, 11, 1);
    overflow: hidden;
    --web-view-name: top;
    --web-view-id: top;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@keyframes slide-left {

    0% {
        transform: translateX(100%);
    }

}
.about-graphics-items {
    margin: 81px 10px;
    position: absolute;
    display: flex;
    top: 5rem;
    width: 50%;
    height: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
        margin-top: 5%;
}

.about-graphics-items-row, .about-graphics-items-row2 {
    /* position: absolute; */
    display: flex;
    top: 5rem;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
}

.about-graphics-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#about-circle {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.about-circle {
    overflow: visible;
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
}
#about-graphics-text {
    position: relative;
        padding-top: 15px;
    border: 0;
    /* bottom: 280px; */
    overflow: visible;
    width: 70%;
    /* height: 145px; */
    line-height: 2;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(8px, 1vw, 15px);
    color: rgba(255,255,255,1);
}
#about-graphics-link {
    position: relative;
    border: 0;
    /* bottom: 250px; */
    overflow: visible;
    width: 678px;
    height: 27px;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Philosiphy.html;
    cursor: pointer;
    line-height: 32px;
    /* margin-top: -8.5px; */
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
font-size: clamp(9px, 2vw, 30px);
    color: rgba(255,255,255,1);
}
#about-graphics-clothing {
    border: 0;
    /* left: 922px;
    top: 1481px; */
    /* position: absolute; */
    overflow: visible;
    /* width: 79px; */
    white-space: nowrap;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
font-size: clamp(10px, 1vw, 35px);
    color: rgba(255,255,255,1);
}
#about-graphics-i {
    border: 0;
    /* left: 828px;
    top: 1384px; */
    /* position: absolute; */
    overflow: visible;
    /* width: 263px; */
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
font-size: clamp(10px, 5vw, 70px);
    color: rgba(255,255,255,1);
}
#about-graphics-shelter {
    border: 0;
    /* left: 1115px;
    top: 1709px; */
    /* position: absolute; */
    overflow: visible;
    /* width: 67px; */
    white-space: nowrap;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
font-size: clamp(10px, 1vw, 35px);
    color: rgba(255,255,255,1);
}
#about-graphics-ju {
    border: 0;
    /* left: 1015px;
    top: 1613px; */
    /* position: absolute; */
    overflow: visible;
    /* width: 263px; */
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
font-size: clamp(10px, 5vw, 70px);
    color: rgba(255,255,255,1);
}
#about-graphics-food {
    border: 0;
    /* left: 751px;
    top: 1709px; */
    /* position: absolute; */
    overflow: visible;
    /* width: 45px; */
    white-space: nowrap;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
font-size: clamp(10px, 1vw, 35px);
    color: rgba(255,255,255,1);
}
#about-graphics-shoku {
    border: 0;
    /* left: 642px;
    top: 1613px; */
    /* position: absolute; */
    overflow: visible;
    /* width: 263px; */
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
font-size: clamp(10px, 5vw, 70px);
    color: rgba(255,255,255,1);
}
.x-icon,   .x-icon2 {
    color: white;
    width: clamp(10px, 6vw, 20px);
    margin: 10% 0 2% 0;
}
.x-icon2 {
    display: none;
}
#top-logo {
    position: relative;
    width: 60%;
    max-width: 376px;
    overflow: visible;
}
#top-logo-img {
    width: 100%;
}
#logo {
    position: absolute;
    width: 362.994px;
    height: 70.547px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#top-text {
    overflow: visible;
    width: 70%;
    /* height: 70px; */
    line-height: 2;
    margin-top: 50px;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(7px, 1.5vw, 50px);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}
#nav-logo {
    width: 30%;
    max-width: 197px;
    height: 100%;
    position: absolute;
    display: flex;
    left: 5%;
    overflow: visible;
    top: 30%;
}
#logo-mini {
    position: absolute;
    width: 100%;
    /* width: clamp(10px, 50%, 15px);; */
    left: 0px;
    top: 0px;
    overflow: visible;
}

#menu {
    padding: 6%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 9999;
    overflow-y: auto;
}

#menu.open {
  transform: translateX(0); /* ← 表示状態 */
}
#aac {
		fill: rgba(39,22,11,1);
	}
.aac {
    overflow: visible;
    width: 1920px;
    height: 1077px;
    left: 0px;
    top: 0px;
}
#menu-logo {
    left: 97px;
    top: 86px;
    overflow: visible;
}
#menu-logo-img {
    width: 30%;
    max-width: 197px;
    position: absolute;
    display: flex;
    left: 5%;
    overflow: visible;
}
#menu-top {
    border: 0;
    left: 424px;
    top: 372px;
    overflow: visible;
    width: 119px;
    white-space: nowrap;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: top.html;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#menu-about {
    border: 0;
    left: 424px;
    top: 519px;
    /* position: absolute; */
    overflow: visible;
    width: 177px;
    white-space: nowrap;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: About.html;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#menu-phil {
    border: 0;
    left: 424px;
    top: 665px;
    /* position: absolute; */
    overflow: visible;
    /* width: 100%; */
    white-space: nowrap;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Philosiphy.html;
    cursor: pointer;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#mission-link {
    border: 0;
    left: 424px;
    top: 665px;
    /* position: absolute; */
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Philosiphy.html;
    cursor: pointer;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(8px, 2vw, 70px);
    padding: 10px 0px;
    color: rgba(255,255,255,1);
}
#menu-contact {
    border: 0;
    left: 1224px;
    top: 372px;
    /* position: absolute; */
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: CONTACT.html;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#menu-insta {
    border: 0;
    left: 1224px;
    top: 519px;
    /* position: absolute; */
    overflow: visible;
    width: 274px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#menu-i {
    border: 0;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#menu-shoku {
    border: 0;
    left: 0px;
    top: 147px;
    /* position: absolute; */
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#menu-ju {
    border: 0;
    left: 0px;
    top: 293px;
    /* position: absolute; */
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#close-icon {
    /* position: absolute; */
    width: 35px;
    height: 35px;
    /* left: 1741.5px; */
    top: 75.5px;
    overflow: visible;
}
#close-icon-path {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.close-icon-svg {
    overflow: visible;
    /* position: absolute; */
    width: 40.414px;
    height: 40.414px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.menu-list {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
}
.menu-list-col {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

}
.nav-menu {
  cursor: pointer;
  padding: 1rem;
}

.menu-icon {
    display: inline-block;
    width: 35px;
    height: 16px;
    right: 20px;
    position: absolute;
}
#nav-menu {
    position: absolute;
    display: flex;
    width: 117px;
    height: 71px;
    right: 0px;
    /* top: 53px; */
    overflow: visible;
    cursor: pointer;
    --web-animation: slide-left 0.30000001192092896s ease-out forwards;
    --web-action-type: page;
    --web-action-target: menu.html;
}
#nav-menu-line {
    position: absolute;
    width: 44px;
    height: 11px;
    /* left: 36.5px;
    top: 33.5px; */
    overflow: visible;
}
#nav-menu-lines {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.nav-menu-bottomline {
    overflow: visible;
    position: absolute;
    width: 44px;
    height: 2px;
    /* left: 0px;
    top: 0px; */
    transform: matrix(1,0,0,1,0,0);
}

.nav-menu-line {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 2px;
    left: 0px;
    top: 11px;
    transform: matrix(1,0,0,1,0,0);
}
#nav-menu-line {
    fill: transparent;
}

.about-images {
    display: flex;
    height: auto;
    position: relative;
    width: 100%;
    flex-direction: column;
}

#about-ju, #about-i, #about-shoku, #about-all {
    height: auto;
}

#about-ju { 
    width: 35%;
    /* z-index: 5000; */
    margin-top: -90px;
    z-index: 1;
}
#about-shoku { 
    right: 0px;
    width: 40%;
    margin-top: -215px;
    margin-left: 60%;
 }
#about-i {
    /* top: 1000px; */
    width: 35%;
    /* top: 100px; */
    margin-top: -150px;
    margin-left: 25%;
}
#about-all { 
    margin-top: 10px;
    width: clamp(700px, 50vw, 1200px);
    margin-left: clamp(100px, 50vw, 277px);
}

.footer {
    background-image: none;
    background-color: rgb(28, 12, 12);
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    flex-direction: column; /* ← ロゴとテキストを縦に並べる */
    padding: 5rem 0rem 5rem 0rem;
}

.footer-top {
    position: relative;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    flex-direction: row;
    padding: 2rem;
    align-content: center;
    justify-content: space-around;
}
.footer-logo {
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    width: 40%;
}
.footer-other {
    display: flex
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    line-height: 35.5px;
}

.footer-other-c2 {
    display: flex
;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;;
    width: 33%;
}

#footer-top {
    border: 0;
    left: 1199px;
    top: 7306px;
    /* position: absolute; */
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-about {
    border: 0;
    left: 1199px;
    top: 7361px;
    /* position: absolute; */
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: About.html;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-phil {
    border: 0;
    left: 1199px;
    top: 7416px;
    /* position: absolute; */
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Philosiphy.html;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#copyright {
    border: 0;
    left: 871px;
    top: 7545px;
    /* position: absolute; */
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#footer-contact {
    border: 0;
    left: 1500px;
    top: 7306px;
    /* position: absolute; */
    overflow: visible;
    width: 76px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: CONTACT.html;
    cursor: pointer;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-insta {
    border: 0;
    left: 1500px;
    top: 7361px;
    /* position: absolute; */
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-genre {
    /* position: absolute; */
    width: 15px;
    height: 125px;
    left: 1392px;
    top: 7306px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: .html;
    cursor: pointer;
}
#footer-genre-i {
    border: 0;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    overflow: visible;
    width: 16px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-genre-shoku {
    border: 0;
    left: 0px;
    top: 55px;
    /* position: absolute; */
    overflow: visible;
    width: 16px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-genre-ju {
    border: 0;
    left: 0px;
    top: 110px;
    /* position: absolute; */
    overflow: visible;
    width: 16px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#footer-first {
    fill: rgba(255,255,255,1);
}
.footer-first {
    overflow: visible;
    width: 10.885px;
    height: 73.135px;
    left: 329px;
    top: 7332px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-c {
    fill: rgba(255,255,255,1);
}
.footer-c {
    overflow: visible;
    width: 10.884px;
    height: 73.135px;
    left: 694.427px;
    top: 7332px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-o {
    fill: rgba(255,255,255,1);
}
.footer-o {
    overflow: visible;
    width: 41.194px;
    height: 48.174px;
    left: 363.727px;
    top: 7344.476px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-r {
    fill: rgba(255,255,255,1);
}
.footer-r {
    overflow: visible;
    width: 48.175px;
    height: 48.175px;
    left: 414.94px;
    top: 7344.475px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-v {
    fill: rgba(255,255,255,1);
}
.footer-v {
    overflow: visible;
    width: 43.558px;
    height: 45.824px;
    left: 523.743px;
    top: 7345.661px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-u {
    fill: rgba(255,255,255,1);
}
.footer-u {
    overflow: visible;
    width: 36.892px;
    height: 46.99px;
    left: 581.062px;
    top: 7345.66px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-s {
    fill: rgba(255,255,255,1);
}
.footer-s {
    overflow: visible;
    width: 33.852px;
    height: 48.175px;
    left: 633.49px;
    top: 7344.475px;
    transform: matrix(1,0,0,1,0,0);
}
#footer-end {
    fill: rgba(255,255,255,1);
}
.footer-end {
    overflow: visible;
    width: 33.568px;
    height: 45.824px;
    left: 477.72px;
    top: 7345.66px;
    transform: matrix(1,0,0,1,0,0);
}
#genre-i-img {
    width: 34%;
    left: 0px;
    top: 0px;
    overflow: visible;
    z-index: 1;
}
#genre-shoku-img {
    width: 34%;
    left: 34%;
    top: 0px;
    overflow: visible;
    z-index: 1;
}
#genre-ju-img {
    width: 34%;
    right: 0px;
    top: 0px;
    overflow: visible;
    z-index: 1;
}
#genre-i {
    position: absolute;
    width: 34%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 118px;
    left: 0;
    /* top: 355px; */
    overflow: visible;
    z-index: 1;
}
#genre-i-en {
    border: 0;
    top: 56px;
    position: relative;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(10px, 5vw, 15px);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}
#genre-i-jp {
    border: 0;
    position: absolute;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(10px, 6vw, 70px);
    color: rgba(255,255,255,1);
    z-index: 1;
}
#genre-shoku {
    position: absolute;
    width: 34%;
    left: 33%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 118px;
    /* top: 355px; */
    overflow: visible;
    z-index: 1;
}
#genre-shoku-en {
    border: 0;
    top: 56px;
    position: relative;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(10px, 5vw, 15px);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}
#genre-shoku-jp {
    border: 0;
    position: absolute;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(10px, 6vw, 70px);
    color: rgba(255,255,255,1);
    z-index: 1;
}
#genre-ju {
    position: absolute;
    width: 34%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 118px;
    right: 0px;
    /* top: 355px; */
    overflow: visible;
    z-index: 1;
}
#genre-ju-en {
    border: 0;
    top: 56px;
    position: relative;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(10px, 5vw, 15px);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}
#genre-ju-jp {
    border: 0;
    /* left: 94px; */
    /* top: 97px; */
    position: absolute;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(10px, 6vw, 70px);
    color: rgba(255,255,255,1);
    z-index: 1;
}
#mission-text {
    border: 0;
    left: 492px;
    top: 6169px;
    overflow: visible;
    width: 80%;
    line-height: 1;
    line-height: 2;
    text-align: center;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(8px, 2vw, 70px);
    color: rgba(255, 255, 255, 1);
    margin: 20px;
    z-index: 1;
}
#studio {
    width: 80%;
    overflow: visible;
    z-index: 1;
}
#mission-title {
    border: 0;
    left: 734px;
    top: 6043px;
    /* position: absolute; */
    overflow: visible;
    width: 453px;
    white-space: nowrap;
    text-align: center;
    font-family: Heisei Mincho Std;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(36px, 9vw, 70px);
    color: rgba(255,255,255,1);
    z-index: 1;
}
#menu-insta-favicon, #footer-insta-favicon {
    display: none;
}


@media (max-width: 797px) {
  .about-circle {
    display: none;
  }
  .x-icon2 {
    display: flex;
  }
  .about-graphics-items-row2 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
  }
    .x-icon, .x-icon2 {
        color: white;
        width: clamp(10px, 6vw, 15px);
        margin: 10% 0 8% 0;
    }
    #about-graphics-text {
        width: 150%;
    }
    .genres {
        display: flow;
    }
    .genre-images, .genre-texts {
        align-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        }
    .genre-texts {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        display: flex;
            position: absolute;
    top: 0px;
            width: -webkit-fill-available;
    }
    #genre-i-img, #genre-shoku-img, #genre-ju-img {
        width: 100%;
        height: 180px;
        left: 0px;
        object-fit: cover;
        z-index: 1;
        overflow: hidden;
    }
    #genre-i-img, #genre-ju-img {
        object-position: center 85%;
    }
    #genre-i, #genre-shoku, #genre-ju {
    position: relative;
        left: 4%;
        height: 180px;
        top: 5rem;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .mission {
        padding-top: 0px;
    }
    #studio {
        width: 100%;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-logo {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        width: 100%;
        display: contents;
        align-items: center;
    }
    .footer-other {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        line-height: 35.5px;
    }
    .footer-other-c1, .footer-other-c2, .footer-other-c3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    #footer-logo {
        padding-bottom: 18px;

    }
    #footer-top, #footer-about, #footer-phil, #footer-genre-i,#footer-genre-shoku, #footer-genre-ju, #footer-contact, #footer-insta  {
        font-size: 11px;
        width: 34%;
        text-align: center;
    }
    #menu-insta, #footer-insta  {
        display: none; 
    }
    #menu-insta-favicon, #footer-insta-favicon {
        display: flex;
        font-weight: 800;
        color: white;
        padding: 10px;
    }
    #footer-top, #footer-about, #footer-phil {
        width: 34%;
    }
    #footer-genre {
        display: flex;
        /* position: absolute; */
        width: 100%;
        justify-content: space-between;
        height: auto;
    }
    .footer-other-c3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .about-graphics-items {
        margin: 81px 10px;
        position: relative;
    }
    #about-ju {
        width: 50%;
        z-index: 1;
        margin-top: 0;
    }
    #about-shoku {
        right: 0px;
        width: 40%;
        margin-top: -115px;
        margin-left: 60%;
    }
    #about-i {
        width: 35%;
        margin-top: -50px;
        margin-left: 15%;
    }
    #about-all {
        margin-top: 40px;
        width: clamp(300px, 50vw, 1200px);
        margin-left: clamp(100px, 20vw, 277px);
    }
    .menu-list {
        flex-direction: column;
        padding-left: 10px;
    }
    #menu-top, #menu-about, #menu-phil, #menu-i, #menu-shoku, #menu-ju, #menu-contact, #menu-insta {
        font-size: 15px;
        line-height: 3;
    }
}